.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
display: flex;
flex-direction: column;
align-items: center;
height: 100%;
/* background-color: #a7c5cf; */
}
.box{
background-color: #a7c5cf;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}
.box .contaner{
display: flex;
flex-direction: column;
align-items: center;
padding: 15px;
background-color: rgb(255, 255, 255);
width: calc(200%/12);
border: none;
border-radius: 10px;
position: relative;
top: calc(100%/5);
}
.box .contaner .head .font-head{
text-align: center;
font-size: 15px;
font-weight: bold;
}
.box .contaner .minor .font-minor{
text-align: center;
font-size: small;
color: #a6c4ce;
margin-top: -10px;
}


.box .contaner .img img{
    width: calc(100%/1);
    border-radius: 15px;
}
@media  screen and (max-width: 600px) {
    .box{
        background-color: #a7c5cf;
        
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
  }
  @media  screen and (max-width: 600px) {
    .box .contaner {
      background-color: #f1f1f1;
      display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        background-color: rgb(255, 255, 255);
        width: calc(200%/3);
        border: none;
        border-radius: 10px;
        position: relative;
        top: calc(100%/5);
    }
  }
  @media only screen and (max-width: 600px) {
    .box .contaner .head .font-head{
       font-size: 10px;
       text-align: center;
        }
  }
  @media only screen and (max-width: 600px) {
    .box .contaner .minor .font-minor{
       font-size: 10px;
       text-align: center;
        }
  }
